{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 52.7327186307979,
        "longitude": -2.844675779342652,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "UTC",
        "external_url": null,
        "internal_url": null
    }
}